@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  background: linear-gradient(rgba(4, 9, 30, 0.15), rgba(4, 9, 30, 0.15)),
    url(images/panel4.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

/* From Uiverse.io by JulanDeAlb */
.hamburger {
  cursor: pointer;
  position: absolute;
  top: 5rem;
  right: 5rem;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 5em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* HAMBURGER END  */

/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0% 8%;
}

.navbar img {
  width: 12rem;
  padding-top: 0.8rem;
}

ul {
  padding-top: 7rem;
  padding-right: 8rem;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 4rem;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}

ul li a::after {
  content: "";
  background-color: #dc7633;
  display: block;
  width: 0;
  height: 1px;
  transition: 1s;
  margin: auto;
}

ul li a:hover::after {
  width: 100%;
}

#active {
  color: #dc7633;
}

ul li a:hover {
  color: #dc7633;
}

.container-text {
  position: absolute;
  top: 45%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.container-text h1 {
  font-size: 4.8rem;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
}

.container-text p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 400;
  padding-top: 1.5rem;
}

@media screen and (max-width: 700px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    background: linear-gradient(rgba(4, 9, 30, 0.15), rgba(4, 9, 30, 0.15)),
      url(images/panel4.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }

    .hamburger {
      display: block;
      z-index: 2;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 0;
      width: 100%;
    }

    .navbar img {
      width: 12rem;
      padding-top: 10%;
      margin-left: 20%;
    }

  .navlinks {
    position: absolute;
    background-color: rgba(4, 9, 30, 0.7);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: -100%;
    transition: 0.5s all ease;
  }

  .navlinks.mobile-menu {
    margin-left: 0;
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    margin: 2.5rem 0;
    padding-right: 0;
  }

  ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s;
  }

  ul li a::after {
    content: "";
    background-color: #dc7633;
    display: block;
    width: 0;
    height: 1px;
    transition: 1s;
    margin: auto;
  }

  ul li a:hover::after {
    width: 100%;
  }

  #active {
    color: #dc7633;
  }

  ul li a:hover {
    color: #dc7633;
  }

  .container-text {
    position: absolute;
    /* top: 45%;
    left: 49%; */
    top: 40rem;
    left: 20rem;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;
  }

  .container-text h1 {
    font-size: 3.5rem;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 700;
  }

  .container-text p {
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 400;
    padding-top: 2rem;
  }
}

/* NAVBAR END */
/* NEDEN START */

.neden {  
  justify-content: space-between;
  display: flex;
}

.neden-img img {
  background-position: center;
  background-size: cover;
  /* height: 50vh;  */
  width: 37vw;
  border-radius: 2rem;
}

.neden-img {
  width: 50%;
  padding-left: 10rem;
  padding-top: 4rem;
}

.neden-text {
  width: 50%;
}

#neden-enust {
  color: #dc7633;
}

.neden p {
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  color: #616379;
}

.neden h1 {
  font-size: 3.9rem;
}

.neden-textler {
  padding-top: 6rem;
  padding-left: 8rem;
}

.neden-textler a {
  text-decoration: none;
  border: 2px solid #56b13d;
  background-color: #56b13d;
  padding: 1.5rem 3rem;
  color: white;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  transition: 0.4s;
}

.neden-textler a:hover {
  background-color: #418a2d;
  border: 2px solid #418a2d;
}

#neden-h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Raleway", sans-serif;
}

#neden-enalt {
  padding-top: 1rem;
}

@media screen and (max-width: 700px) {
  .neden {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .neden-img img {
    background-position: center;
    background-size: cover;
    height: 20vh;
    width: 80%;
    border-radius: 2rem;
    max-width: 100%;
  }

  .neden-img {
    width: 100%;
    padding-left: 3rem;
    padding-top: 0rem;
  }

  .neden-text {
    width: 100%;
    padding-left: 0rem;
    padding-top: 2rem;
  }

  #neden-enust {
    color: #dc7633;
  }

  .neden p {
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    color: #616379;
  }

  .neden h1 {
    font-size: 3.2rem;
  }

  .neden-textler {
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .neden-textler a {
    text-decoration: none;
    border: 2px solid #56b13d;
    background-color: #56b13d;
    padding: 1.5rem 3rem;
    color: white;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .neden-textler a:hover {
    background-color: #418a2d;
    border: 2px solid #418a2d;
  }

  #neden-h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Raleway", sans-serif;
  }

  #neden-enalt {
    padding-top: 1rem;
  }
}

/* NEDEN END */

/* KALİTE START */

.kalite {
  height: 100vh;
  display: flex;
  padding-top: 5rem;
}

.kalite-sol {
  position: relative;
  width: 50%;
  height: auto;
}

.resim {
  position: absolute;

  width: 100%;
  height: auto;
  border-radius: 5rem;
}

#resim1 {
  top: 5rem;
  left: 5rem;
  width: 60rem;
}

#resim2 {
  top: 24rem;
  left: 27rem;
  width: 50rem;
}

.kalite-sag {
  padding-left: 40rem;
  padding-top: 6rem;
}

.kalite-sag h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: #131022;
}

.kalite-sag p {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  color: #616379;
  padding-top: 2rem;
}

.tick i {
  font-size: 2.5rem;
  color: #7aa1d3;
  padding-top: 2rem;
  padding-right: 1rem;
}

.tick p {
  color: #0c2271;
}

.tick {
  display: flex;
}

.checkler {
  padding-top: 5rem;
}

.tickler {
  display: flex;
  gap: 9rem;
}

#tick-md {
  padding-left: 3.2rem;
}

#tick-et {
  padding-left: 0.5rem;
}

#tick-eu {
  padding-left: 1.4rem;
}

@media screen and (max-height: 730px) {
  /* .kalite {
    height: 150vh !important;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
  } */
}

@media screen and (max-width: 700px) {
    .kalite {
      height: auto;
      display: flex;
      padding-top: 5rem;
      flex-direction: column;
  }

  .resimler{
    position: relative;
    /* width: 10%; */
  }
  .resim {
    position: absolute;
    /* width: 80%; */
    height: auto;
    border-radius: 5rem;
  }

  #resim1 {
    top: 55rem;
    left: 2rem;
    width: 70%;
    z-index: 1;
  }

  #resim2 {
    top: 62rem;
    left: 10rem;
    width: 70%;
    z-index: 2;
  }

  .boy-belirleyici{
    visibility: hidden;
    height: 40rem;
  }

  .kalite-sol {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }

  

  .kalite-sag {
    padding: 0 2rem;
    width: 100%;
    text-align: ;
  }

  .kalite-sag h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #131022;
  }

  .kalite-sag p {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #616379;
    padding-top: 2rem;
  }

  .tick i {
    font-size: 2.5rem;
    color: #7aa1d3;
    padding-top: 2rem;
    padding-right: 1rem;
  }

  .tick p {
    color: #0c2271;
  }

  .tick {
    display: flex;
  }

  .checkler {
    padding-top: 2rem;
  }

  .tickler {
    display: flex;
    gap: 2rem;
  }

  #tick-md {
    padding-left: 2rem;
  }

  #tick-et {
    padding-left: 0rem;
  }

  #tick-eu {
    padding-left: 0.8rem;
  }
}



/* KALİTE END */

/* FOOTER START */

.boxlar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 4% 4%;
  gap: rem;
}

.box img {
  width: 13rem;
  padding-left: 2rem;
}

.box h1 {
  font-family: "Raleway", sans-serif;
  padding-bottom: 2rem;
  font-size: 2.3rem;
}

.box p {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  color: #616379;
}

.box a {
  text-decoration: none;
  color: white;
  color: #616379;
  transition: 0.5s;
}

.box a:hover {
  color: #dc7633;
}

.box {
  width: 20%;
}

#box-i {
  padding-right: 5rem;
  width: 35%;
}
#box-çs {
  padding-right: 5rem;
}

#box-nav {
  padding-left: 6rem;
}

#mail {
  padding-left: 1rem;
}

#tel {
  padding-left: 1rem;
}

#adres {
  padding-left: 2rem;
}

#adres1 {
  padding-left: 6.5rem;
}

#saat1 {
  padding-left: 2.8rem;
}

#saat2 {
  padding-left: 1rem;
}

@media screen and (max-width: 700px) {
  .boxlar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .box img {
    width: 100%;
    max-width: 12rem;
  }

  .box h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 0rem;
    font-size: 1.8rem;
  }

  .box p {
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    color: #616379;
  }

  .box a {
    text-decoration: none;
    color: white;
    color: #616379;
    transition: 0.5s;
  }

  .box a:hover {
    color: #dc7633;
  }

  .boxlar .box:first-child,
  .boxlar .box:nth-child(2) {
    width: 45%; /* İlk iki kutu yan yana */
  }

  .box {
    width: 100%;
  }

  #box-i {
    padding-right: 0rem;
    width: 100%;
  }

  #box-çs {
    padding-right: 0rem;
  }

  #box-nav {
    padding-left: 1rem;
  }

  #mail {
    padding-left: 1rem;
  }

  #tel {
    padding-left: 1rem;
  }

  #adres {
    padding-left: 2rem;
  }

  #adres1 {
    padding-left: 6.5rem;
  }

  #saat1 {
    padding-left: 2.8rem;
  }

  #saat2 {
    padding-left: 1rem;
  }
}

/* FOOTER END */
